<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PILIH AJAH</title>
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header class="header">
      <div class="header__inner">
        <h1 class="header__title">PILIH AJAH</h1>
      </div>
      <a id="menu" href="#drawer" class="header__menu">☰</a>
    </header>
    <nav id="drawer" class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="/">HOME</a></li>
        <li class="nav__item"><a href="#">FAVORITE</a></li>
        <li class="nav__item">
          <a href="https://github.com/dikiwydi">ABOUT US</a>
        </li>
      </ul>
    </nav>
    <div class="hero">
      <div class="hero__inner">
        <h1 class="hero__title">Menemanimu ketika kelaparan</h1>
      </div>
    </div>
    <main id="maincontent">
      <section class="content">
        <div class="restoran">
          <h1 class="restoran__label">TEMUKAN RESTORAN TERBAIK</h1>
          <div class="posts"></div>
        </div>
      </section>

      <footer>
        <ul>
          <li><a href="#">Help</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </footer>
    </main>
  </body>
</html>
