<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PILIH AJAH</title>
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <header class="header">
      <div class="header__inner">
        <h1 class="header__title">PILIH AJAH</h1>
      </div>
      <a id="menu" class="header__menu">☰</a>
    </header>
    <nav id="drawer" class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="#">HOME</a></li>
        <li class="nav__item"><a href="#">TENTANG KAMI</a></li>
        <li class="nav__item"><a href="#">CONTACT</a></li>
        <li class="nav__item"><a href="#">HUBUNGI KAMI</a></li>
      </ul>
    </nav>
    <div class="hero">
      <div class="hero__inner">
        <h1 class="hero__title">Menemanimu ketika kelaparan</h1>
      </div>
    </div>
    <main>
      <section class="content">
        <article class="headline">
          <figure class="headline__figure">
            <img src="../public/images/heros/hero-image_2.jpg" alt="foto" />
            <figcaption>pilih ajah 2023</figcaption>
          </figure>
          <div class="headline__content">
            <h1 class="headline__title">WELCOME PILIH AJAH</h1>
            <p class="headline__description">
              Pilih ajah telah berdiri sejak 2001 hingga saat ini. kami bergerak
              dibidang mengelola restoran yang terbaik, dimana alasan untuk
              mendirikan pilh ajah ini adalah merupakan hasil survey bahwa masih
              kurangnya aplikasi penyedia restoran terbaik.
            </p>
            <button class="headline__button">READ MORE</button>
          </div>
        </article>
        <div class="restoran">
          <h1 class="restoran__label">RESTORAN TERBAIK</h1>
          <div class="posts"></div>
        </div>
      </section>

      <footer>
        <ul>
          <li><a href="#">Help</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </footer>
    </main>
  </body>
</html>
